*{
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #10101E;
    height: 100vh;
}

.dateTime {
    color: #fff;
    padding: 15px 10px;
    background: #10101E;
    width: 340px;
    border: 1px solid #2E94E3;
    border-radius: 3px;
    text-align: center;
    font-family: "Segoe Ui",sans-serif;
    -webkit-box-reflect: below 1px linear-gradient(transparent,rgba(255,255,255, 0.1));
    transition: .3s;
    transition-property: background,box-shadow;
}

.date {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 3px;
}

.time {
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.time span:not(:last-child) {
    position: relative;
    margin:0 6px;
    font-weight: 600;
    letter-spacing: 3px;
}

span#period {
    background: #2E94E3;
    font-size: 30px;
    letter-spacing: 3px;
    border-radius: 3px;
    margin-top: 10px;
    padding: 0 5px;
}
.dateTime:hover {
    background: #2E94E3;
    box-shadow: 0 0 30px #2E94E3;
    color: #000;
    cursor: pointer;

}
footer.copyRight {
    color: #2E94E3;
    margin-top: 200px;
    font-size: 11px;
    font-weight: 600;
}

